<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="Variety" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Variety">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">Nom Variety</label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Nom Variety"
                               id="1" [(ngModel)]="variety.varietyName"
                               [disabled]="true"/>
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="1">Valeur Variety</label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Valeur Variety"
                               id="1" [(ngModel)]="variety.varietyValue"
                               [disabled]="true"/>
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>


    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
</p-dialog>
