<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="Category" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Category">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">Nom Categorie</label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="Nom Categorie"
                               id="1" [(ngModel)]="category.nomCategory" [disabled]="true"
                               />
                    </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>


</p-dialog>
