<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="DeliveryPerson" [modal]="true"
          styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="DeliveryPerson">
                <div class="grid">

                    <div class="field col-12 md:col-6">
                        <label for="1">Full Name</label>
                        <input class="mb-2 mr-2" type="text" pInputText placeholder="FullName"
                               id="1" [(ngModel)]="deliveryPerson.fullname"
                               [disabled]="true"
                        />
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="2">Phone</label>
                        <input id="2" pInputTextarea rows="5" cols="30"
                               placeholder="Phone" [(ngModel)]="deliveryPerson.phone"
                               [disabled]="true"
                        />
                    </div>

                    <div class="field col-12 md:col-6">
                        <label for="3">Email</label>
                        <input id="3" pInputTextarea rows="5" cols="30"
                               placeholder="Email" [(ngModel)]="deliveryPerson.email"
                               [disabled]="true"
                        />
                    </div>

                    <div class="field col-11 md:col-5">
                        <label for="2">Delivery Status</label>
                        <p-dropdown appendTo="body" 
                                    [(ngModel)]="deliveryPerson.status" id="2"
                                    [filter]="true" filterMatchMode="contains"
                                    [showClear]="true"
                                    placeholder="DeliveryPerson"
                                    [disabled]="true"
                        >
                        </p-dropdown>
                    </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>
    

    <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

</p-dialog>
